*{
    font-family: 'Roboto', sans-serif;
    color: #e6e6e6;
}

main {
    background: #121212;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.logo{
    object-fit: cover;
    width: 10%;
}

@media all and (max-width: 768px) {
.logoresponsive{
    width: 30%;
    display: flex;
    justify-content: center;
}
}
 
.claseLinksFooter{
    text-decoration: none;
}  
   
.linea-footer{
    width: 1px;
    height: 50%;
}
   
@media all and (max-width: 768px) { 
    .linea-footer{
        width: 75%;
        height: 1px;
    }
}

.disabled{
    pointer-events: none;
    cursor: default;
}

.logo-footer{
    width: 27%;
}

@media all and (max-width: 768px) and (min-width: 0px) {
    .logo-footer-responsive{
        width: 13%;
    }
}

@media all and (max-width: 991px) and (min-width: 769px) {
    .logo-footer-responsive-2{
        width: 38%;
    }
}

.img-404 {
    width: 52%;   
}

@media all and (max-width: 768px) and (min-width: 0px) {
    .img-404-responsive{
        width: 100%;
    }
}

@media all and (max-width: 991px) and (min-width: 769px) {
    .img-404-responsive-2{
        width: 65%;
    }
}

.colorfondocards{
    background: lightgray;
    min-height: 210px;
}

@media all and (max-width:360px){
    footer{
        margin: 0px 0px 43px 0px;
    }
    .logo-footer-responsive-2{
        width: 20%;
    }

}

@media all and (width:411px) and (height:731px){
    footer{
        margin: 0px 0px 130px 0px;
    }
    .logo-footer-responsive-2{
        width: 20%;
    }

}

@media all and (width:411px) and (height:823px){
    footer{
        margin: 0px 0px 226px 0px;
    }
    .logo-footer-responsive-2{
        width: 20%;
    }
}

@media all and (width:320px) and (height:568px){
    footer{
        margin: 0px 0px 0px 0px;
    }
    .logo-footer-responsive-2{
        width: 20%;
    }

}

@media all and (width:375px) and (height:667px){
    footer{
        margin: 0px 0px 70px 0px;
    }
    .logo-footer-responsive-2{
        width: 20%;
    }

}


@media all and (width:375px) and (height:812px){
    footer{
        margin: 0px 0px 215px 0px;
    }
    .logo-footer-responsive-2{
        width: 20%;
    }

}


@media all and (width:414px) and (height:736px){
    footer{
        margin: 0px 0px 139px 0px;
    }
    .logo-footer-responsive-2{
        width: 20%;
    }

}

@media all and (min-width:768px) and (height:1024px){
    footer{
        margin: 0px 0px 427px 0px;
    }
    .logo-footer-responsive-2{
        width: 40%;
    }

}

@media all and (min-width:1024px) and (height:1366px){
    footer{
        margin: 0px 0px 769px 0px;
    }
    .logo-footer-responsive-2{
        width: 40%;
    }

}