*{
    font-family: 'Roboto', sans-serif;
    color: #e6e6e6;
}

main {
    background: #121212;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    padding: 1em 0;
    margin-top: auto;
}

.logo{
    object-fit: cover;
    width: 10%;
}

@media all and (max-width: 768px) {
.logoresponsive{
    width: 30%;
    display: flex;
    justify-content: center;
}
}

@media (max-width: 1024px) { 
    .publicidad{
        display: none;
    }
}
 
.claseLinksFooter{
    text-decoration: none;
}  
   
.linea-footer{
    width: 1px;
    height: 50%;
}
   
@media all and (max-width: 768px) { 
    .linea-footer{
        width: 75%;
        height: 1px;
    }
}

.disabled{
    pointer-events: none;
    cursor: default;
}

.logo-footer{
    width: 27%;
}

@media all and (max-width: 768px) and (min-width: 0px) {
    .logo-footer-responsive{
        width: 13%;
    }
}

@media all and (max-width: 991px) and (min-width: 769px) {
    .logo-footer-responsive-2{
        width: 38%;
    }
}