*{
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    padding: 1em 0;
    margin-top: auto;
}

.logo{
    object-fit: cover;
    width: 10%;
}

@media (max-width: 768px) {
.logoresponsive{
    width: 30%;
    display: flex;
    justify-content: center;
}
}

@media (max-width: 1024px) { 
    .publicidad{
        display: none;
    }
}
 
.claseLinksFooter{
    text-decoration: none;
}  
   
.linea-footer{
    width: 1px;
    height: 50%;
}
   
@media (max-width: 768px) { 
    .linea-footer{
        width: 75%;
        height: 1px;
    }
}

.disabled{
    pointer-events: none;
    cursor: default;
}